.git
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
coingro.service
coingro.egg-info

# config.json*
*.sqlite
user_data
*.log

.vscode
.mypy_cache
.ipynb_checkpoints

.env/
.pytest_cache/
*__pycache__
nohup.out
.pre-commit-config.yaml
git-execute.sh
.coveragerc
dist/
todo.txt
